@font-face {
    font-family: 'JosefinSansRegular';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JosefinSansBold';
    src: url('../fonts/JosefinSans-Bold.woff') format('woff');
    src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');               
    font-weight: bold;
    font-style: normal;

}

body {
	background-color: #1f1e1f;
	font-family: JosefinSansRegular;

}

/* Custom Scrollbar*/

::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #2b2b2b; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }


p {
	margin-top: 0px;
	margin-bottom: 5px;
}

input {
	background-color: #302f30;
	border-radius: 3px;
	border-style: solid;
	border-color: #464546;
	font-family: JosefinSansRegular;
	color: white;
	
}

textarea {
	background-color: #302f30;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #464546;
	font-family: JosefinSansRegular;
	color: white;
}

select {

	background-color: #302f30;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #464546;
	font-family: JosefinSansRegular;
	color: white;

}

select:focus {outline:none !important}

/*Container for each movable box*/
.sectional {
	width: 350px;
	height: fit-content;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	color: white;
	background-color: rgb(44, 44, 44);
}

.accordion {
	position: relative;
	background-color: rgb(70, 70, 70);
	color: rgb(209, 209, 209);
	cursor: pointer;
	padding-bottom: 10px;
	width: 100%;
	height: 13px;
	border: none;
	border-radius: 3px;
	text-align: right;
	outline: none;
	font-size: 10px;
	transition: 0.4s;
  }
  
  .active, .accordion:hover {
	background-color: #777; 
  }
  
  .accordion:after {
	position: relative;
	top: 0px;
	left: -3px;
	content: '\002B';
	color: rgb(196, 196, 196);
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	position: relative;
	left: -3px;
	content: "\2212";
  }
  
  /*Content within the panel class is revealed/hidden by the accordian buttons*/
  .panel {
	padding-top: 0 18px;;
	border-radius: 3px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }


  .titleBox {
	position: relative;
	width: 100%;
	text-align: center;
	top: 0px;
	padding-top: 8px;
	padding-bottom: 5px;
	font-size: 17px;
	font-weight: bold;
	background-color: rgb(20, 20, 20);
	border-width: inherit;
	border-radius: 4px;

}

.buttony {
	outline: none;
}

.buttony:hover {
	background-color: #5a5a5a;
  }

.buttony:active {
	background-color: #474747;
  }

  /*Number Spinboxes*/

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;

	
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	
  }


input[type=number]:focus {outline:none !important}

.spinBoy {
	width: 40px;
	height: 30px;
	background-color: #302f30;
	border-radius: 5px;
	border-width: 2px;
	padding: 1px 0;
	border-style: solid;
	border-color: #464546;
	font-size: 17px;
	color: white;
}

.up {
  position: absolute;
  outline:none;
  -webkit-appearance: none;
  background-color: #5c5c5c;
  border: none;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 16px;
  padding: 5px 6px;
  cursor: pointer;
  left: 66%;
  top: 0px;
  margin: 0;
  bottom: -11px;
  border-radius: 3px;
}

.down {
  position: absolute;
  left: 66%;
  top: 50%;
  outline:none;
  -webkit-appearance: none;
  background-color: #5c5c5c;
  border: none;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 16px;
  padding: 5px 6px;
  cursor: pointer;
  margin: 0;
  bottom: -11px;
  border-radius: 3px;
}

.scoreSpinners button:before,
.scoreSpinners button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 9.6px;
  height: 3px;
  background-color: white;
  transform: translate(-75%, -50%) rotate(-45deg);
}

.scoreSpinners button.up:after {
  transform: translate(-25%, -50%) rotate(45deg);
}
.scoreSpinners button.down:before {
  transform: translate(-75%, -50%) rotate(45deg);
}
.scoreSpinners button.down:after {
  transform: translate(-25%, -50%) rotate(-45deg);
}

.scoreSpinners button:hover {
	background-color: #929292;
  }


.scoreSpinners {
	position: relative;
	width: fit-content;
	margin: 0 2px;
}



  /*Line break for flexboxes*/
  .break {
	flex-basis: 100%;
	height: 0;
  }

 /*Update & Match Saver*/

#updateTitle {
	margin-bottom: 5px;
}

#matchMaker {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

#cMatchSave {
	position: relative;
	height: 25px;

}

#aMatchSave {
  position: relative;
  height: 25px;

}

#matchMemory {
	position: relative;
	height: 25px;
	font-size: 14px;

}

#weee {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	cursor: pointer;
}


 /*Players/Scores/Etc*/

 #player1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	height: fit-content;
	padding-top: 8px;
	margin: 2px;
	color: white;
}

#pName1 {
	position: relative;
	left: 0px;
	font-size: 17px;
	margin: 0 3px;
	padding: 1px 0;
	width: 180px;
	height: 30px;

}

#pName2 {
	position: relative;
	left: 0px;
	font-size: 17px;
	margin: 0 3px;
	padding: 1px 0;
	width: 180px;
	height: 30px;
}

.country {
	position: relative;
	font-size: 17px;
	margin: 0 2px;
	padding: 1px 0;
	width: 34px;
	height: 30px;
}


  #swapNames {
	position: relative;
	font-size: 16px;
	height: 35px;
	margin-left: 4px;
	cursor: pointer;
}

#gameCounterDiv {
	position: absolute;
	max-width: fit-content;
	left: 67%;
	top: 20.5%;
	visibility: hidden;
}

#blankNames {
	position: relative;
	height: 35px;
	font-size: 16px;
	margin-left: 4px;
	cursor: pointer;
}

#toggleBD {
	position: relative;
	height: 30px;
	margin: 5px 28px 0px 2px;	
	visibility: hidden;
}

#Rolla {
	position: relative;
	font-size: 15px;
	margin: 5px 3px 0px 3px;
	height: 30px;

}

#clearRolls {
	position: relative;
	height: 30px;
	font-size: 14px;
	margin: 5px 0px 0px 1px;
	width: fit-content;
}

#breakdownButton {
	position: relative;
	height: 30px;
	font-size: 14px;
	margin: 5px 0px 0px 27px;
	width: fit-content;
}

#hostName {
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
	width: 200px;
	height: 25px;
}

#casterNames {
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
	height: 25px;
	width: 95%;
}

#breakdownText {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

#flexFlex {
	display: flex;
	flex-direction: row;
	width: 100%;

}

#playerNamesBreakdown {
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-top: 5px;
	font-size: 10pt;
}

.flexdown {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 5px;
	gap: 20px;
}

#flexText {
	padding-top: 5px;
	padding-left: 5px;
	gap: 30px;
	width: 40%;
	align-items: center;
	

}

  /*First Sniper and Divisions*/

#behavior {
	position: relative;
	left: 0px;
	top: 5px;
}

#rollSelector {
	position: relative;
	top: 10px;
	width: fit-content;
	height: 40px;

}

#divContent {
	position: relative;
}

 

/*Tooltips*/

#flexTips {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	justify-content: flex-start;
}

#custom {
	position: relative;
	margin: 6px 50px 4px 2px;
}

#premade {
	position: relative;
	margin: 6px 2px 2px 45px;
}


#cTipName {
	position: relative;
	margin: 2px 15px 4px 0px;
	width: 180px;
	height: 20px;
	
}

#cTipDesc {
	position: relative;
	margin: 0px 0px 10px 0px;
	height: 80px;
	width: 180px;
	resize: none;
}

#tText {
	position: relative;
	margin: 2px 0px 4px 10px;
	height: 25px;
}

#clearTooltips {
	width: 100%;
}




/*Draft*/

#flexDraft {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	justify-content: space-evenly;
}

#matchType {
	margin: 5px 0px 6px 4px;

}

.venueSpinners {
	display: none;
	justify-content: center;
	width: 100%;

}

.selectType {
	position: relative;
	margin-top: 20px;
    margin-bottom: 5px;
	width: 80%;
	font-size: 14px;
	text-align: center;
	font-family: JosefinSansRegular;
	color: white;
    font-size: 16pt;
}


#draftPlayer1 {
	position: relative;
	margin: 18px 0px 3px 0px;
	width: 45%;
	font-size: 14px;
	text-align: left;
	font-family: JosefinSansBold;
	color: white;
}

#draftPlayer2 {
	position: relative;
	margin: 18px 0px 3px 0px;
	width: 45%;
	font-size: 14px;
	text-align: right;
	font-family: JosefinSansBold;
	color: white;
}


.venueSelect {
	position: relative;
	width: 40%;
	height: 25px;
	font-size: 16px;
}

#addBan {
	width: 30%;
}
#removeBan {
	width: 30%;
}

#resetti {
	position: relative;
	margin-top: 8px;
	width: 100%;
}


/* Custom Groups */

.nameBoxes {
	margin-top: 10px;
	width: 180px;
	height: 20px;
}

.numberBoxes {
	width: 25px;
	height: 20px;
}

/*Automation*/

#venueDecoder {
	position: relative;
	top: 0px;
	height: 120px;
	width: 95%;
	resize: none;
}

#updateAutoVenue {
	position: relative;
	width: 100%;
	height: 40px;
	top: -10px;
	font-size: 14pt;
	margin-bottom: 0px;
}

#clearAutoVenue {
	width: 100%;
}

#autoScore {
	position: relative;
	height: 180px;
}

#autoScoreLeft {
	position: relative;
	width: 50%;
	height: 100%;

}

#autoScoreRight {
	position: relative;
	width: 48%;
	left: 50%;
	top: -180px;

}

#clearAutoScore {
	width: 100%;
}

#scorePaste {
	position: relative;
	left: 0px;
	top: 5px;
	height: 140px;
	width: 70%;
	resize: none;
}

#scoreSourceLabel {
	position: relative;
	text-align: right;
	left: 0px;
}

#scoreSource {
	position: relative;
	top: 5px;
	left: 0px;
	width: 80%;
}

#gamesPlayed {
	position: relative;
	top: 15px;
}

#gCounterUp {
	position: relative;
	top: 13px;
	left: 14px;
}

#gCounterDown {
  position: relative;
  top: 31px;
  left: 35px;
}

#rollPaste {
	position: relative;
	width: 80%;
	padding: 5px;
}

#clearAutoCharacters {
	width: 100%;
}
