
@font-face {
    font-family: 'agencyFBBold';
    src: url('../../../fonts/Agency_FB_Bold.ttf') format('truetype');         
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'JosefinSansRegular';
    src: url('../../../fonts/JosefinSans-Regular.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JosefinSansBold';
    src: url('../../../fonts/JosefinSans-Bold.woff') format('woff');
    src: url('../../../fonts/JosefinSans-Bold.ttf') format('truetype');               
    font-weight: bold;
    font-style: normal;

}

body {
    background-color: #831721;
    height: 1080px;
    width: 1920px;
    border: 2px solid black;
    margin: 0px;
}

h1 {
    font-family: 'agencyFBBold';
    font-size: 62pt;
    color: #a8dff4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a8dff4;
    letter-spacing: -4px;
    margin: 0px;
    text-shadow: -3px 0 #050266, 0 3px #050266, 3px 0 #050266, 0 -3px #050266, 0px 0px 13px black, 0px 0px 13px black, 0px 0px 13px black;
}

span {
    width: 300px;
    font-size: 35pt;
    margin: 5px;
    font-family: 'JosefinSansBold';
    text-wrap: nowrap;
}

h5 {
    font-size: 20pt;
    margin: 10px;
    font-family: 'JosefinSansBold';
}

p {
    font-size: 16pt;
    margin: 3px;
    font-family: 'JosefinSansRegular';
}

#topBar {
    position: absolute;
    width: 1920px;
    top: 13px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

}



#board {
    width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    
}

.textBox {
    
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(197, 197, 197) 100%);
    width: 250px;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
}

#hostAndCasters {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#videoBox {
    width: 1300px;
    height: 730px;
    background-color: rgb(31, 31, 31);
    border: 5px solid black;
    border-radius: 8px;
}

#videoEmbed {
    width: 1300px;
    height: 730px;
}

#rightSideInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

#SML {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleText {
    color: white;
    font-size: 20pt;
    text-align: center;
}

#countdown {
    background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgb(44, 44, 44) 100%);
    width: 250px;
    height: 100px;
}

#nextMatch {
    width: 250px;
}

#playerCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 550px;
    height: 220px;
    background-color: rgb(46, 160, 145);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border: 6px solid black;
    border-radius: 8px;
    color: white;
}

.avatar {
    margin: 10px;
}

#namesAndFlags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flagAndCharacter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

#divisionAndWeek {
    position: absolute;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 720px;
}

.weekAndDivision {
    font-size: 30pt;
    font-weight: bold;
    color: white;
}

.playerNames {
    width: 300px;
}

#pName1 {
    width: 300px;
}

#pName2 {
    width: 300px;
}