@font-face {
    font-family: 'JosefinSans';
    src: url('../../../fonts/JosefinSans-Bold.woff') format('woff');
    src: url('../../../fonts/JosefinSans-Bold.ttf') format('truetype');               
    font-weight: normal;
    font-style: normal;

}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1920px;
	height: 1080px;
	background-image: url('../images_draft/draftbg.png');
	background-repeat: no-repeat;
    font-family: 'JosefinSans';
    overflow: hidden;
  }

  #pName1 {
    position:absolute;
	top:38px;
	left:0px;
	width:1920px;
	height:150px;
	font-size:64px;
	font-family: 'JosefinSans';
    color: white;
    text-align:center;

	z-index:8;
  }

  #pName2 {
    position:absolute;
	top:1000px;
	left:0px;
	width:1920px;
	height:150px;
	font-size:64px;
	font-family: 'JosefinSans';
    color: white;
    text-align:center;

	z-index:8;
  }

  #nameboxtop {
      position: absolute;
      width: 1920px;
      height: 1080px;
      top: -300px;
      background-image: url('../images_draft/nameboxtop.png');
      z-index: 7;
  }

  #nameboxbottom {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top:300px;
    background-image: url('../images_draft/nameboxbottom.png');
    z-index: 7;
}

#venueband {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: -2000px;
    z-index: 9;
}


#picksband {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: -2000px;
    background-image: url('../images_draft/picksband.png');
}

#venueHolder {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5px;
    top: -10px;
    left: -1920px;
    border-color: greenyellow;
    width: 1920px;
    height: 180px;
}

.pickBox {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgb(0, 0, 0, 0);
    z-index: 0;
}

#pick1 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgb(0, 0, 0, 0);
    z-index: 0;
}

.doubleText {
    display: inline-block;
    position: relative;
    top: -174px;
    left: 5px;
    width: 95%;
    height: 25px;
    background: red;
    color: white;
    font-size: 20pt;
    text-align: center;
    padding-top: 10px;
    z-index: 2;
}

#pick2 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick3 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick4 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick5 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick6 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick7 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick8 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick9 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}

#pick10 {
    position: relative;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}



#gabriotron {
    position: absolute;
    width: 810px;
    height: 797px;
    left: 555px;
    top: 2000px;
    z-index: 2;
}

#gabriotronbody {
    position: absolute;
    width: 810px;
    height: 797px;
    z-index: 2;
    background-image: url('../images_draft/GE_Body.png');
}

#gabriotronscreen {
    position: absolute;
    width: 810px;
    height: 797px;
    z-index: 3;
    background-image: url('../images_draft/GE_Screen.gif');
}

#timer {
    position: absolute;
    width: 1920px;
    height: 10px;
    top: 936px;
    opacity: 0;
    background-image: url('../images_draft/timer.png');
}

#roundnumber {
    position: absolute;
    width: 1920px;
    height: 100px;
    font-size: 36pt;
    top: 150px;
    text-align: center;
    opacity: 0;
    color: seashell;
}

#ratings {
    position: absolute;
    width: 1920px;
    height: 100px;
    font-size: 50pt;
    top: 240px;
    text-align: center;
    opacity: 0;
    color: seashell;
}

#ratingsExp1 {
    position: absolute;
    width: 1920px;
    height: 100px;
    font-size: 40pt;
    top: 840px;
    text-align: center;
    opacity: 0;
    color: seashell;
}

