@font-face {
    font-family: 'JosefinSans';
    src: url('../../../fonts/JosefinSans-Bold.woff') format('woff');
    src: url('../../../fonts/JosefinSans-Bold.ttf') format('truetype');               
    font-weight: normal;
    font-style: normal;

}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1920px;
	height: 1080px;
	background-image: url('../images_draft/draftbg.png');
	background-repeat: no-repeat;
    font-family: 'JosefinSans';
    overflow: hidden;
  }

  #pName1 {
    position:absolute;
	top:38px;
	left:0px;
	width:1920px;
	height:150px;
	font-size:64px;
	font-family: 'JosefinSans';
    color: white;
    text-align:center;

	z-index:8;
  }

  #pName2 {
    position:absolute;
	top:1000px;
	left:0px;
	width:1920px;
	height:150px;
	font-size:64px;
	font-family: 'JosefinSans';
    color: white;
    text-align:center;

	z-index:8;
  }

  #nameboxtop {
      position: absolute;
      width: 1920px;
      height: 1080px;
      top: -300px;
      background-image: url('../images_draft/nameboxtop.png');
      z-index: 7;
  }

  #nameboxbottom {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top:300px;
    background-image: url('../images_draft/nameboxbottom.png');
    z-index: 7;
}

#venueHolder {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    top: 0px;
    left: -1920px;
    box-shadow: 0px 0px 15px black;
    width: 1920px;
    height: fit-content;
    background-color: #adecff;
    z-index: 1;
}

#overtimeVenueHolder {
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 435px;
    left: -1920px;
    box-shadow: 0px 0px 15px black;
    width: 1920px;
    height: fit-content;
    background-color: rgb(16, 172, 172);
    z-index: 0;
}

#otHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-left: 40px;
    background-color: rgb(8, 94, 94);
    border-color: rgb(14, 139, 139);
    border-style: solid;
    border-width: 6px;
}

#showHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(8, 94, 94);
    border-color: rgb(14, 139, 139);
    border-style: solid;
    border-width: 6px;
}

.doubleText {
    visibility: hidden;
    display: block;
    position: relative;
    top: 1px;
    left: 4px;
    width: 96%;
    height: 15px;
    background: red;
    color: white;
    font-size: 20pt;
    text-align: center;
    padding-top: 20px;
    z-index: 2;
}

.venueImage {
    position: relative;
    line-height: 0;
    width: 176px;
    height: 178px;
    color: rgba(0, 0, 0, 0);

}



#gabriotron {
    position: absolute;
    width: 810px;
    height: 797px;
    left: 555px;
    top: 2000px;
    z-index: 2;
}

#gabriotronbody {
    position: absolute;
    width: 810px;
    height: 797px;
    z-index: 2;
    background-image: url('../images_draft/GE_Body.png');
}

#gabriotronscreen {
    position: absolute;
    width: 810px;
    height: 797px;
    z-index: 3;
    background-image: url('../images_draft/GE_Screen.gif');
}

#roundnumber {
    position: absolute;
    width: 1920px;
    height: 100px;
    font-size: 36pt;
    top: 150px;
    text-align: center;
    opacity: 0;
    color: seashell;
}


.otText {
    font-size: 50pt;
    color: white;
    text-shadow: 1px 1px 3px black;
    
}

#ovt {
    margin-right: 10px;
}

#fnl {
    margin-right: 10px;
}


#picksText {
    width: 100%;
    text-align: center;
    font-size: 50pt;
    margin-top: 0px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.break {
	flex-basis: 100%;
	height: 0;
  }