@font-face {
  font-family: 'JosefinSansRegular';
  src: url('../../fonts/JosefinSans-Regular.ttf') format('truetype');         
  font-weight: normal;
  font-style: normal;

}

body {  
  font-family: JosefinSansRegular;
  overflow: hidden;}



#gpad {
  position: absolute;
  width: 1809px;
  height: 1037px;
  left: 55px;
  top: 2021px;
  background-image: url('images/reveal/gpad.png');  
  z-index: 1;

}

#roundSelector {
  display: none;
}

#next {
  position: relative;
  left: 60px;
  top: 30px;
  height: 40px;
  background-color: #1f9d7e;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #22d4b5;
	font-family: JosefinSansRegular;
  font-size: 22pt;
	color: white;
}


#revealApp {
  position: absolute;
  width: 1735px;
  height: 927px;
  top: 429px;
  left:-662px;
  background-image: url('images/reveal/Hidden_Reveal.png');
  opacity: 0;
  z-index: 0;
}

#fourthPlace {
  position: absolute;
  width: 400px;
  height: 80px;
  font-size: 30pt;
  top: 775px;
  left: 750px;
  color: #d33030;
  z-index: 5;
  opacity: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#thirdPlace {
  position: absolute;
  width: 400px;
  height: 80px;
  font-size: 30pt;
  top: 595px;
  left: 750px;
  color: #CD8130;
  z-index: 5;
  opacity: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#secondPlace {
  position: absolute;
  width: 400px;
  height: 80px;
  font-size: 30pt;
  top: 410px;
  left: 750px;
  color: silver;
  z-index: 5;
  opacity: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#firstPlace {
  position: absolute;
  width: 400px;
  height: 80px;
  font-size: 30pt;
  top: 215px;
  left: 750px;
  color: gold;
  z-index: 5;
  opacity: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.scene {
  position: absolute;
  width:699px;
  height: 103px;
  perspective: 600px;
  background-image: url('images/reveal/Reveal_Back.png');
  opacity: 0;
  z-index: 3;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateX(-180deg);
}

.card__face {
  position: absolute;
  width: 700px;
  height: 100%;
  line-height: 115px;
  color: white;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  font-size: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url('images/reveal/Reveal_Front.png');
  transform: rotateX(180deg);
  z-index: 4;

}

.card__face--back {
  background-image: url('images/reveal/Reveal_Front.png');
  z-index: 4;
}


#roundNumber {
  position: absolute;
  top: 35px;
  left: 890px;
  width: 800px;
  height: 80px;
  font-size: 45pt;
  color: #d33030;
  z-index: 4;
}

#number1 {
  top:  124px;
  left: 100px;
}

#number2 {
  top: 227px;
  left:100px;
}

#number3 {
  top: 330px;
  left:100px;
}

#number4 {
  top:433px;
  left: 100px;
}

#number5 {
  top: 536px;
  left:100px;
}

#number6 {
  top: 639px;
  left:100px;
}

#number7 {
  top:742px;
  left: 100px;
}

#number8 {
  top: 845px;
  left:100px;
}

#number9 {
  top:  124px;
  left:950px;
}

#number10 {
  top: 227px;
  left:950px;
}

#number11 {
  top: 330px;
  left:950px;
}

#number12 {
  top:433px;
  left: 950px;
}

#number13 {
  top: 536px;
  left:950px;
}

#number14 {
  top: 639px;
  left:950px;
}

#number15 {
  top:742px;
  left: 950px;
}

#number16 {
  top: 845px;
  left:950px;
  width: 700px;
}

